header {
    background-color: black;
    padding: 20px;
}

nav {
    display: flex;              /* Elementos en línea (horizontal) */
    justify-content: center;    /* Centrado horizontal */
    align-items: center;        /* Alineación vertical */
    gap: 20px;                  /* Separación entre enlaces */
}

nav a {
    color: white;               /* Letras blancas */
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    transition: 0.3s ease;
}

nav a:hover {
    background-color: gray;
    color: rgb(236, 18, 18);
    border-radius: 20px;
}
